.user-navbar{
  width:30%;
  background:gray
}
.dropdown-button{
  margin:auto;
  margin-left:10px;
  width:40px;
  height:auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background:white;
  border-radius: 10px;
}
.line{
  width: 35px;
  height: 5px;
  background-color: black;
  margin:3px auto;
  border-radius: 5px;
}
