@import url('https://fonts.googleapis.com/css?family=Roboto');
button{outline:none}
.header-h1{
  color:#FFF;
  width:50%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin:0 auto;
  font-size: 45px;
  font-weight: bolder;
  text-shadow: 4px 5px 5px rgb(0, 0, 0)
}
.loginButton{
  margin:auto;
  width:150px;
  height:50px;
  color:#000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 8px;
  background-color: #3C5996;
  border:none
}
.loginButton p{
  margin:auto;
  color:#FFF;
  font-weight: 900;
  font-size: 16px;
}
.loginButton img{
  margin:0;
  padding:0;
  width:45px;
  height:45px;
}
.tree{
  width:20%;
  height:auto;
  margin:auto;
  animation-name: tree, fadeIn;
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-delay: 1s;
}
.welcome-body{
  margin:auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top:0;
  position:relative;
  width:100%;
  height:auto;
  /*dinamic height*/
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/5d/88/65/5d8865f7c9e2cb4436c69db0ac816637.jpg);
  background-position: bottom;
  background-size: cover;
}
.overlay1{
  position: absolute;
  width:100%;
  height:100%;
  background: radial-gradient(farthest-corner at 150px 30px, transparent, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));

}

.welcome-home{
  width:100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  color:#FFF;
  text-align: center;
}
.learn{
  width:200px;
  margin:auto;
  margin-top: 100px;
  background:transparent;
  font-size: 25px;
  font-weight: bolder;
  padding:10px;
  border-radius: 5px;
  border:5px solid #FFF;
}
.learn:hover{
  animation-name: learn;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
@keyframes learn {
  0%{border:5px solid #FFF}
  10%{border-top: 5px solid rgb(56, 233, 34)}
  70%{border-left:5px solid rgb(115, 230, 101);
      border-right:5px solid rgb(115, 230, 101)
    }
  75%{
    border-bottom: 5px solid rgb(56, 233, 34);
  }
  90%{border:5px solid #FFF;color:#FFF;}
  100%{
    border:5px solid rgb(56, 233, 34);
    color:rgb(56, 233, 34)
  }
}

.connect{
  width:200px;
  margin:auto;
  margin-top: 30px;
  border:none;
  font-size: 25px;
  background:transparent;
  border:5px solid rgb(191, 17, 24);
  font-weight: bolder;
  color:rgb(191, 17, 24);
  border-radius:5px;
  padding:10px;
  position:relative;
  transition: 1s ease-in;
}

.connect:hover{
  color:#FFF;
  border:5px solid #FFF;
}
/*
//
//
//detail content start*/

.welcome-detail{
  margin-top:100px;
}
.w-detail{
  width:95%;
  margin:auto;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.w-heading{
  margin:40px auto;
  width:30%;
  color:#000;
  border-bottom:5px dashed rgb(115, 115, 115);
  text-align: center;
}
.w-heading h1{
  font-size: 40px;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px -1px 1px #FFF;

}
.icon-con{
  width:30%;
  margin:20px auto 60px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color:#000;
  opacity: 0;
}

.animate{
  opacity: 1;
  animation: fadeIn 2s ease both, fadeUp 1s ease-in both;
}

.icon-con p{
  font-size: 16px;
  color:rgb(113, 113, 111);
  margin-top:20px;

}
.image{
  margin:auto;
  width:100px;
  height:100px;
  border:2px  solid rgba(128, 0, 0, 0.44);
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.image img {
  width:70%;
  height:auto;
  margin: auto;
}
/*

//Techonology starts here

*/
.techonology{
  width:100%;
  margin:auto;
  padding:30px 0;
  padding-bottom:100px;
  background-color: rgb(78, 78, 78);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.w-technology{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.tech-box{
  background-color: rgb(126, 126, 126);
  margin:auto;
  width:30%;
  height:300px;
  position: relative;
  display: flex;
  justify-content: space-around;
  position: relative;
  transition:1s ease;
  margin-bottom:30px;
}

.box-desc{
  position:absolute;
  bottom:0;
  width:100%;
  height:50px;
  color:#FFF;
  text-align: center;
  background-color: rgba(61, 61, 61, 0.6)
}
.box-desc h4{
  font-size: 30px;
  font-weight: bolder;
}
.tech-box img{
  display: flex;
  margin:auto;
  width:60%;
  height:auto;
  transition: 2s ease-out;
}
.tech-big{
  width:40%;
  height:450px;
  transition: 2s ease-out;
}
.popup{
  text-align: center;
  display: none;
  position: absolute;
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.75);
  color:#FFF;
  justify-content: center;
  flex-direction: column;
}
.popup p{
  width:80%;
  text-align: justify;
  margin:auto;
  margin-top:40px;
  font-size: 16px
}
.button-animate{
  animation: strech 1s .2s ease-out both
}
.connect-buttons{
  opacity: 0;
  height:0;
  transition: 0.5s linear;
}
.connect-buttons button:hover{
  background-color:#1f479d;
}
.connect-show{
  display:flex;
  margin:auto;
  flex-direction: row;
  animation: showing 1s 2s ease both;

}
.btn-user{
  margin:auto;
  margin-left: 10px;
  border:none;
  width:100px;
  background-color: #3C5996;
  color:#FFF;
  text-align: center;
  font-weight: 900;
  height:50px;
  border-radius: 8px;
}

/*  //Popup animations //Button animations */



.tech-box:hover{
  background-color:rgb(94, 26, 26);
}
.tech-box:hover img{
  width:40%;
}
.tech-big:nth-child(n + 0):hover .popup{
  display: flex;
  animation: popupBig 1s forwards
}
.tech-box:hover .popup h1{
  display: block;
  animation: flip .3s 1s both;
  transform-origin: center;
}
.tech-box .popup p{
  display: block;
  animation: fadeIn .5s 1s both,fadeUp .5s 1s both ;
  transform-origin: center;
}
.tech-box:nth-child(n+ 3):hover .popup{
  display: flex;
  animation: fadeUp 1s ease forwards
}

.tech-box:hover .box-desc{
  animation:fadeIn .5s ease-in reverse forwards, fadeUp 1s ease-in reverse
}

@keyframes flip {
  0%{display: none; transform:rotateY(90deg)}
  20%{display:block}
  100%{transform:rotateY(0deg)}
}
@keyframes popupBig{
  0%{transform: translateY(400px)}
  100%{transdorm: translateY(0px)}
}
@keyframes tree {
  0%{
    transform: rotateY(90deg);
  }
  100%{opacity:1}
}
@keyframes fadeIn {
  0%{opacity:0;}
  100%{opacity: 1}
}
@keyframes fadeUp {
  0%{transform: translateY(200px)}
  100%{transform: translateY(0px)}
}
@keyframes strech{
  0%{transform: scale(1)}
  100%{
    transform: scale(5, 0);
    display:none;
    height:0;

  }
}
@keyframes showing {
  0%{
    height:0;
    opacity: 0;
    transform: translate(200px);
  }
  100%{height:50px;display: block;transform:translate(0); opacity:1;}
}
/*
  css media query

*/
@media screen and (max-width:720px) {
  .header-h1{
    font-size: 32px;
  }
  .connect, .learn{
    width:150px;
    font-size:20px;
    border-width: 3px;
    padding:5px;
    margin-top: 40px;
    z-index: 2;
  }
  .loginButton img{
    width:30px;
    height:30px;
    margin:auto;
  }
  .loginButton, .btn-user{
    width:75px;
    padding:5px;
  }
  .tree{
    width:40%;
  }
  .icon-con{
    width:40%;
  }
  .image{
    width: 70px;
    height: 70px;
  }
  .icon-con p{
    font-size: 14px
  }
  .w-heading{
    width:90%;
    margin:auto;
    margin-bottom: 10px;
  }
  .w-heading h1{
    font-size: 32px;
    margin:auto;
  }
  .tech-box{
    width:50%;
    margin:auto;
  }
  .tech-big{
    width:70%;
    margin:auto;
    height:350px;
  }
  .popup h1{
    font-size: 25px;
  }
  .popup p{
    margin-top:10px;
    width:100%;
    font-size: 14px;
    text-align: left;
    padding-left:5px;
  }
  .box-desc h4{
    font-size: 20px;
  }

}
