.book-list{
  width:90%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.home-book{
  width:15%;
  display: flex;
  flex-direction: column;
  border:1px solid black;
  padding:10px;
  margin-left: 5px;
}
.home-book img{
  height:200px;
}
